@media (min-width: 1366px){
    body {
        background-color: black;
        background-attachment: fixed;
        background-image: url('Images/DragonHunterWithBackground.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position-y: 95%;
    }

    .portfolioImage1{
        margin-left: -220%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage1:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage2{
        margin-left: -80%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage2:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage3{
        margin-left: 10%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage3:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage4{
        margin-left: 80%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage4:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage5{
        margin-left: -220%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage5:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage6{
        margin-left: -80%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage6:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage7{
        margin-left: 10%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage7:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage8{
        margin-left: 80%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage8:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage9{
        margin-left: -220%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage9:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage10{
        margin-left: -80%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage10:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage11{
        margin-left: 10%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage11:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage12{
        margin-left: 80%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage12:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage13{
        margin-left: -220%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage13:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage14{
        margin-left: -80%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage14:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage15{
        margin-left: 10%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage15:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }
    
    .portfolioImage16{
        margin-left: 80%;
        margin-bottom: 80px;
        opacity: 0.6;
    }
    
    .portfolioImage16:hover{
        opacity: 1.0;
        transform: scale(1.2 , 1.2);
    }

    .webportfolioImage1{
        margin-left: -66%;
        margin-bottom: 80px;
        opacity: 0.6;
    }

    .webportfolioImage2{
        margin-left: 0%;
        margin-bottom: 80px;
        opacity: 0.6;
    }

    .webportfolioImage1:hover{
        opacity: 1.0;
        transform: scale(1.08 , 1.08);
    }

    .webportfolioImage2:hover{
        opacity: 1.0;
        transform: scale(1.08 , 1.08);
    }
}

.navbar-inverse {
    margin: 0;
    border-radius: 0;
    border-bottom: 2px solid lightskyblue;
    background-color: black;
    padding: 1% 0;
    font-size: 1.2em;
}

.navbar-brand {
    float: left;
    min-height: 55px;
    padding: 0 15px 5px;
}

.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: aqua;
    background-color: black;
}

.nav.navbar-nav.navbar-right li a{
    color: lightskyblue;
}

.carousel-inner{
    max-height: 900px;
}

.carousel-caption {
    top: 40%;
    /*transform: translateX(-60px);*/
    font-family: Britannic;
    text-shadow: 4px 2px 5px black;
}

.btn {
    background-color: black;
    color: white;
    border: solid transparent 1px;
    padding: 2% 2%;
    border-radius: 30% 0%;
    box-shadow: 0px 0px 30px white;
}

.btn1 {
    background-color: black;
    color: white;
    border: solid transparent 1px;
    padding: 1.8% 1.8%;
    border-radius: 30% 0%;
    box-shadow: 0px 0px 30px white;
    margin-bottom: 5%;
}

h5{
    font-family: Britannic;
    font-size: 5.8em;
    font-weight: 800;
    color: white;
    text-shadow: 2px 1px 12px black;
    padding: 10% 0% 10% 0%;
    text-align: center;
}

h4 {
    font-family: Britannic;
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 1px 2px lightblue;
    padding: 0 0;
}

h3 {
    font-family: Britannic;
    font-size: 4.0em;
    color: white;
    text-shadow: 2px 1px 6px black;
    padding: 10% 0% 10% 0%;
}

h2 {
    font-family: Britannic;
    font-size: 3.8em;
    color: white;
    text-shadow: 2px 1px 2px black;
    padding-top: 15%;
    padding-bottom: 2%;
}

#section2{
    background-attachment: fixed;
    background-image: url('Images/SelfieSnowboard.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 50%;
    padding-bottom: 10%;
    border-radius: 10%;
    border: transparent solid 1px;
    box-shadow: 0px 0px 30px black;
}

.portfolioGrid{
    width: 100%;
    max-width: 1980px;
    display: block;
}

.col-sm-3 {
    height: 300px;
}

#portfolioImage {
    width: 140%;
    max-width: 460px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 30px black;
}

#webportfolioImage {
    width: 550%;
    max-width: 880px;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 30px black;
}

p {
    font-size: 1.8em;
    color: white;
    text-shadow: 2px 1px 2px black;
}

footer {
    border-top: 2px solid lightskyblue;
    background-color: black;
    padding: 2%;
    padding-top: 8%;
    width: 100%;
}

.fa {
    font-size: 40px;
    padding: 3% 5%;
    color: lightskyblue;
}

    .fa:hover {
        color:lightskyblue;
        text-decoration: none;
    }

#footerLogo {
    font-size: 10%;
    top: -60px;
}

.logoFooter{
    width: 360px;
    height: 250px;
}

@media (max-width: 1910px){

    #portfolioImage {
        width: 100%;
    }

    .col-sm-3{
        max-height: 200px;
    }

    .portfolioImage1{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }
    
    .portfolioImage2{
        margin-left: 0%;
        margin-bottom: 0px;
        opacity: 0.6;
    }
 
    .portfolioImage3{
        margin-left: 0%;
        margin-bottom: 0px;
        opacity: 0.6;
    }
  
    .portfolioImage4{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }
    
    .portfolioImage5{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }

    .portfolioImage6{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }
  
    .portfolioImage7{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }
  
    .portfolioImage8{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }
   
    .portfolioImage9{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }
 
    .portfolioImage10{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }
  
    .portfolioImage11{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }
    
    .portfolioImage12{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }
  
    .portfolioImage14{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }
 
    .portfolioImage15{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }
  
    .portfolioImage16{
        margin-left: 0;
        margin-bottom: 0px;
        opacity: 0.6;
    }

    .webportfolioImage1{
        margin-left: 0%;
        margin-bottom: 80px;
        opacity: 0.6;
    }

    .webportfolioImage2{
        margin-left: 0%;
        margin-bottom: 80px;
        opacity: 0.6;
    }

    #webportfolioImage {
        width: 100%;
        max-width: 580px;
        border: 2px solid white;
        border-radius: 20px;
        box-shadow: 0px 0px 30px black;
    }
 
}

@media (max-width: 1400px){
    body {
        background-color: lightskyblue;
    }

    #portfolioImage {
        border: 2px solid white;
    }

    .webportfolioImage1:hover{
        opacity: 1.0;
        transform: scale(1.08 , 1.08);
    }

    .webportfolioImage2:hover{
        opacity: 1.0;
        transform: scale(1.08 , 1.08);
    }

}

@media (max-width: 1200px){
    #section2{
        background-image: none;  
        border: none;
        box-shadow: none;
    }

    #footerLogo {
        margin-left: 0;
    }

    .col-sm-3{
        max-height: 130px;
    }
}

@media (max-width: 800px){
    p{
        font-size: 1.4em;
    }

    #footerLogo {
        margin-left: -15%;
    }
}

@media (max-width: 700px){
    .col-sm-3{
        max-height: 600px;
    }
    h5{
        font-size: 3.8em;
    }
    h3{
        font-size: 2.8em;
    }

    h2{
        font-size: 2.8em;
    }
    .PortfolioHeader{
        font-size: 2.8em;
        padding: 10% 0% 10% 0%;
        margin-left: 20%;
    }
}

@media (max-width: 600px) {

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-for{
        border-top: 1px solid lightskyblue;
        margin: 5% 0 5% 0;
        padding-top: 2%;
    }

    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
        margin-right: 0;
        margin-left: -15px;
    }

    .container-fluid{
        padding: 0 0 0 0;
    }

    h1{
        font-size: 2.0em;
        margin-top: -15%;
    }

    .btn {
        border: solid transparent 1px;
        padding: 2% 2%;
        border-radius: 50% 50%;
        box-shadow: 0px 0px 30px white;
        font-size: 0.6em;
        margin-top: 12%;
        opacity: 0;
    }

    #icon {
        max-width: 80px;
        padding: 5% 0;
    }

    .container {
        padding-right: 0;
    }

    .portfolioImage1{
        opacity: 1.0;
    }
    
    .portfolioImage2{
        opacity: 1.0;
    }
 
    .portfolioImage3{
        opacity: 1.0;
    }
  
    .portfolioImage4{
        opacity: 1.0;
    }
    
    .portfolioImage5{
        opacity: 1.0;
    }

    .portfolioImage6{
        opacity: 1.0;
    }
  
    .portfolioImage7{
        opacity: 1.0;
    }
  
    .portfolioImage8{
        opacity: 1.0;
    }
   
    .portfolioImage9{
        opacity: 1.0;
    }
 
    .portfolioImage10{
        opacity: 1.0;
    }
  
    .portfolioImage11{
        opacity: 1.0;
    }
    
    .portfolioImage12{
        opacity: 1.0;
    }
  
    .portfolioImage13{
        opacity: 1.0;
    }
  
    .portfolioImage14{
        opacity: 1.0;
    }
 
    .portfolioImage15{
        opacity: 1.0;
    }
  
    .portfolioImage16{
        opacity: 1.0;
    }

    .webportfolioImage1{
        opacity: 1.0;
    }

    .webportfolioImage2{
        opacity: 1.0;
    }

    .webportfolioImage1:hover{
        transform: scale(1.0 , 1.0);
    }

    .webportfolioImage2:hover{
        transform: scale(1.0 , 1.0);
    }

    #myCarousel{
        border-bottom: 1px solid lightskyblue;
    }

    h5{
        font-size: 2.4em;
    }

    h2, h3 {
        font-size: 2.2em;
        padding: 10% 0 5% 0;
    }

    h3{
        border-top: 1px solid lightskyblue;
        padding: 15% 0 15% 0;
    }

    p {
        font-size: 0.9em;
        padding: 0 0 5% 0;
    }

    body {
        background-position-y: 55%;
        background-attachment: fixed;
    }

    .col-sm-3{
        margin-top: 0;
    }

    .row {
        margin-right: 0; 
    }

    #contactMe{
        padding-top: 10%;
    }

    .fa {
        font-size: 25px;
    }

    #footerDiv{
        padding-bottom: 15%;
    }

    #footerLogo {
        margin-top: 15%;
        margin-left: 0;
        width: 200px;
        height: 160px;
    }
}

@media (max-width: 321px){
    .logoFooter{
        width: 260px;
        height: 150px;
    }

    #footerLogo {
        margin-top: 20%;
        margin-left: 10%;
    }
}
