.navbar-custom {
    background-color: #000000;
}

    .navbar-custom .nav-item .nav-link {
        color: #ff0000;
    }

    .navbar-custom .nav-item:hover .nav-link {
        color: #e26d6d;
    }

.navbar-brand {
    padding: 5px 5px 5px;
}

.carousel-caption {
    color: #000000;
    text-shadow: 4px 2px 14px #ff0000;
    top: 30%;
}

h2 {
    font-family: Britannic;
    font-size: 3.5em;
    font-style: italic;
}

footer {
    padding: 50px 50px 10px;
    background-color: #000000;
    color: #ff0000;
}

.fa {
    color: #ff0000;
}

    .fa:hover {
        color: #e26d6d;
    }

#footerCaption {
    padding: 50px 50px 10px;
    border-top: 1px solid #ff0000;
    color: #ff0000;
    font-size: 0.8em;
}

#aboutPage {
    background-image: url('Images/BK-Background_WithoutLogo.jpg');
    background-color: #000000;
    background-size: 100%;
    background-repeat: no-repeat;
    max-height: 840px;
    border-radius: 0;
    margin: 0;
}

#aboutPageLogoUpper {
    transform: translateY(50%);
    max-width: 100%;
}

#aboutPageLogoLower {
    transform: translateY(40%);
    max-width: 100%;
}

#jumbotronTitle1 {
    font-family: Britannic;
    font-size: 3.5em;
    font-style: italic;
    color: #000000;
    text-shadow: 2px 2px 14px #ff0000;
}

#jumbotronTitle2 {
    font-family: Britannic;
    font-size: 3.5em;
    font-style: italic;
    color: #000000;
    text-shadow: 2px 2px 14px #ff0000;
    transform: translateY(70px);
}

#aboutPageText1 {
    font-family: 'Arial Rounded MT';
    font-size: 2.0em;
    font-style: italic;
    color: #000000;
    text-shadow: 1px 1px 14px #ff0000;
}

@media(max-width:1400px) {

    #aboutPageFooter {
        padding-top: 0px;
        margin-top: -50px;
    }

    #aboutPageLogoUpper {
        transform: translateY(-10%);
        max-width: 100%;
    }

    #aboutPageLogoLower {
        transform: translateY(-15%);
        max-width: 100%;
    }

    #jumbotronTitle1 {
        font-size: 2.5em;
    }

    #jumbotronTitle2 {
        font-size: 2.5em;
        transform: translateY(0px);
    }

    #aboutPageText1 {
        font-size: 1.5em;
    }
}

@media(max-width:1100px) {

    #aboutPageText1 {
        font-size: 0;
        visibility: hidden;
    }

    #jumbotronTitle1 {
        font-size: 0;
        visibility: hidden;
    }

    #aboutPageLogoUpper {
        transform: translateY(-50%);
        max-width: 60%;
    }

    #aboutPageLogoLower {
        transform: translateY(-50%);
        max-width: 60%;
    }

    #jumbotronTitle2 {
        font-size: 2.5em;
        transform: translateY(-80px);
    }

    #aboutPageFooter {
        padding-top: 50px;
    }
}

@media(max-width:570px) {

    #aboutPageFooter {
        padding-top: 500px;
    }

    #footerCaption {
        padding: 0px 0 5px;
    }

    #connect {
        padding-bottom: 0px;
    }

    #footerP {
        font-size: 0.7em;
        padding-top: 5px;
    }

    .fa {
        padding-bottom: 10px;
    }

    h3 {
        font-size: 1.1em;
        margin-bottom: -15px;
    }

    #aboutPageLogoUpper {
        transform: translateY(80%);
        max-width: 100%;
    }

    #aboutPageLogoLower {
        transform: translateY(80%);
        max-width: 100%;
    }

    #aboutPageText1 {
        font-size: 0;
        visibility: hidden;
    }

    #jumbotronTitle1 {
        font-size: 0;
        visibility: hidden;
    }

    #jumbotronTitle2 {
        font-size: 1.8em;
        text-shadow: 2px 0px 18px #ff0a0a;
        transform: translateY(350%);
    }
}
